@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #131214;
    height: 100vh;
    position: relative;
}


/* === Section Biography === */

/* = border window = */
.angle1{
    position: absolute;
    width: 5vh;
    height: 5vh;
    border-left: 0.15vh solid rgba(255,255,255,0.5);
    border-bottom: 0.15vh solid rgba(255,255,255,0.5);
    left: 2.6vh;
    bottom: 2.6vh;
}

.angle2{
    position: absolute;
    width: 5vh;
    height: 5vh;
    border-top: 0.15vh solid rgba(255,255,255,0.5);
    border-right: 0.15vh solid rgba(255,255,255,0.5);
    right: 2.6vh;
    top: 2.6vh;
}

.text_right{
    width: 25vh;
    position: absolute;
    color: white;
    font-weight: normal;
    font-size: 2.5vh;
    letter-spacing: 0.115em;
    right: 2.6vh;
    bottom: 2.6vh;
}

.text_right p{
    display: inline-block;
    color:#131214;
    background-color: rgba(255,255,255,0.5);
    padding: 0 0.3vh;
}

.text_left{
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: top left;
    color: rgba(255,255,255,0.5);
    font-size: 1.8vh;
    font-weight: bold;
    left: 2.6vh;
    top: 55vh;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.115em;
}
.text_left .black{
    color:#131214;
    background-color: rgba(255,255,255,0.5);
    padding: 0.1vh;
    margin-right: 1vh;
}
.triangle-1, .triangle-2, .triangle-3{
    margin-right: 0.8vh;
    font-size: 1.2vh;
}
.triangle-2{
    transform: rotate(180deg);
}

.top-arrows{
    position: absolute;
    top: 2.4vh;
    width: 100%;
    height: 2vh;
}
.bot-arrows{
    position: absolute;
    bottom: 2.4vh;
    width: 100%;
    height: 2vh;
}


/* = Main content = */

.main-pic{
    width: 40vh;
    position: absolute;
    top: 20vh;
    left: 22%;
}

.main-pic .name{
    color: white;
    font-weight: 700;
    transform: rotate(90deg);
    transform-origin: top left;
    font-size: 14vh;
    position: absolute;
    top: 13vh;
    left: 61vh;
}
.main-pic .subname{
    color: rgba(255,255,255,0.5);
    transform: rotate(90deg);
    transform-origin: top left;
    font-size: 2.3vh;
    position: absolute;
    top: 17.6vh;
    left: 59vh;
    letter-spacing: 0.5vh;
}

.background-pic{
    width: 50vh;
    height: 55vh;
    background: url(/bio/img/back.png) no-repeat;
    background-size: cover;
    background-position: bottom center;
    overflow: hidden;
    position: absolute;
}

.front-pic{
    background: url(/bio/img/anton.png) no-repeat;
    background-size: cover;
    width: 50vh;
    height: 77vh;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    top:-22vh;
}

.front-pic::before{
    content:"";
    position: absolute;
    background: url(/bio/img/anton.png) no-repeat;
    background-size: cover;
    width: 51vh;
    height: 3vh;/* 
    mix-blend-mode: hard-light; */
    opacity: .7;
    animation: glitch 2.5s infinite linear;
}

.front-pic::after{
    content:"";
    position: absolute;
    background: url(/bio/img/anton.png) no-repeat;
    background-size: cover;
    width: 50vh;
    height: 2vh;/* 
    mix-blend-mode: hard-light; */
    opacity: .7;/* 
    animation: glitch 2.9s infinite linear; */
}

.front-pic:hover::before, .front-pic:hover::after{
    opacity: 0;
}

@keyframes glitch {
    0% {
        top: 0;
        background-position: 1.2vh 0;
        filter:saturate(0%);
    }
    15% {
        top: 15.4vh;
        background-position: -1vh -15.4vh;
    }
    30% {
        top: 30.8vh;
        background-position: 0.6vh -30.8vh;
    }
    45% {
        top: 46.2vh;
        background-position: -0.6vh -46.2vh;
    }
    60% {
        top: 61.6vh;
        background-position: 1vh -61.6vh;
    }
    75% {
        top: 77vh;
        background-position: -1.2vh -77vh;
    }
    100% {
        top: 77vh;
        background-position: -1.2vh -77vh;
    }
}


.main_text{
    color:white;
    width: 60vh;
    position: absolute;
    top: 18vh;
    right: 23vh;
}
.main_text .title{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 5vh;
}
.main_text .main{
    line-height: 3vh;
    margin: 4vh 0;
}

@supports (-webkit-text-stroke: 0.04vh white){
    .center-text{
        color:transparent;
        -webkit-text-stroke: 0.04vh white;
        width: 60vh;
        font-size: 15vh;
        line-height: 13vh;
        font-weight: 700;
        position: absolute;
        top: -4vh;
        left: -29vh;
    }
    .high_text{
        color:rgba(0, 0, 0, 0);
        -webkit-text-stroke: 0.2vh red;
    }
    .low_text{
        position: absolute;
        z-index: 25;
        left: 0;
        bottom: -13vh;
    }
    .main_text .subtitle{
        font-weight: 700;
        font-size: 5vh;
        position: absolute;
        top: 0.3vh;
        left: 0.2vh;
        z-index:-2;
        color: transparent;
        -webkit-text-stroke: 0.03vh rgba(255, 255, 255, 0.8);
    }
    .soc a{
        font-size: 3vh;
        color: transparent;
        -webkit-text-stroke: 0.04vh #ffffff;
    }
    .soc a:hover{
        -webkit-text-stroke: 0.04vh transparent;
    }
}

.red-text{
    color:red;
}

.soc{
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
}
.soc .fab{
    border-radius: 1.4vh;
    padding: 1vh;
    border: 0.05vh solid white;
}

.soc .fab:hover{
    color:white;
    border: 0.05vh solid transparent;
}
.soc a, .soc a:active, .soc a:hover{
    text-decoration: none;
    color: transparent;
}

.soc .fab:hover.fa-vk{background-color: #4680C2;}
.soc .fab:hover.fa-instagram{background-color: #E4405F;}
.soc .fab:hover.fa-linkedin-in{background-color: #0A66C2;}
.soc .fab:hover.fa-twitter{background-color: #1DA1F2;}
.soc .fab:hover.fa-github{background-color: #3f3f3f;}
.soc .fab:hover.fa-gitlab{background-color: #FCA121;}
.soc .fab:hover.fa-telegram-plane{background-color:#26A5E4;}
.soc .fab:hover.fa-spotify{background-color: #1DB954;}